/* global */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: black; 
    margin: 0;
    min-width: 940px;
}

textarea {
    resize: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
}

.visually-hidden-button {
    position: absolute;
    background: transparent;
    border: none;
    font-size: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 18px;
    color: black;
    background: white;
    margin-left: 10px;
}

.button:hover,
.button:focus {
    color: #ee3643;
    outline: none;
}

.description {
    line-height: 24px;
}

h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #32425c;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.new::before {
    position: absolute;
    content: "";
    right: 0;
    width: 60px;
    height: 60px;
    background-image: url(../img/new.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

.seo-perforators     p {
    line-height: 24px;
}

/* header */
.header-top-wrap {
    background: #293449;
}

header {
    background: #f4f7f9;
}

.header-top {
    display: flex;
    justify-content: center;
}

.header-navigation-container {
    width: 150px;
    height: 42px;
}

/* header-logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 220px;
    height: 42px;
    font-family: 'Cuprum', sans-serif;
    font-size: 24px;
    color: white;
    background-color: #ee3643;
    box-shadow: 0px 5px #b52933;
}

.logo:hover,
.logo:focus {
    background-color: #ca2c37;
    box-shadow: 0px 5px #9a212a;
    outline: none;
}

.logo:active {
    background-color: #ba2732;
    box-shadow: 0px 5px #8e1e26;
}

/* header search */
.search {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

#search {
    width: 270px;
    height: 42px;
    background: #293449;
    border: none;
    font-size: 17px;
    float: left;
    color: white;
    padding-left: 47px;
    border-radius: 0;
}

#search::-webkit-input-placeholder {
    font-family: 'Cuprum', sans-serif;
    color: white;
}

#search:hover,
#search:focus {
    background: #212a3a;
    outline: none;
}

#search:focus::-webkit-input-placeholder {
    font-family: 'Cuprum', sans-serif;
    color: rgba(0, 0, 0, 0.3);
}

#search:focus {
    font-family: 'Cuprum', sans-serif;
    color: black;
    background: white;
}

#submit {
    border: none;
    position: absolute;
    top: 12px;
    left: 8px;
    width: 46px;
    height: 42px;
    background: none;
    fill: white;
    opacity: 0.3;
}

#search:focus ~ #submit {
    opacity: 1;
    fill: #ee3643;
}

/* header bookmarks button */
.header-navigation-button {
    display: flex;
    width: 150px;
    height: 42px;
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    color: white;
    line-height: 42px;
    border-radius: 0;
    left: 40px;
}

.header-navigation-button:hover,
.header-navigation-button:focus {
    background: #212a3a;
    outline: none;
}

.header-icon {
    position: relative;
    padding-left: 10px;
    width: 36px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.3;
}

.bookmarks {
    background-image: url(../img/icons/bookmarks.svg);
}

.cart {
    background-image: url(../img/icons/cart.svg);
}

.cart-full {
    background-color: #ee3643;
}

/* buy button */
.buy {
    padding: 0;
    background: #63a63e;
    justify-content: center;
}

.buy:hover,
.buy:focus {
    background: #5fbb2d;
    outline: none;
}

.buy:active {
    background: #518534;
    color: rgba(255, 255, 255, 0.5);
}

/* header middle */
.header-middle {
    display: flex;
    justify-content: space-between;
    width: 940px;
    padding-top: 46px;
    margin: 0 auto;
}

.header-description {
    width: 200px;
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    color: #ee3643;
    padding-left: 53px;
    margin-top: 2px;
}

.header-phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 45px;
    outline: 3px solid #fff;
    outline-offset: -3px;
    flex-wrap: wrap;
}

.header-phone {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    color: #ee3643;
    margin-left: -25px;
}

.phone {
    left: -50px;
    background-image: url(../img/icons/phone.svg);
    opacity: 1;
}

.header-address {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    margin-top: 6px;
}

.header-middle-buttons {
    display: flex;
}

.sign-in-svg {
    fill: #c5c5c5;
    padding-left: 15px;
    padding-right: 15px;
}

.sign-in-button:focus ~ .sign-in {
    background-image: url(../img/icons/login-hover.svg);
    background: black;
}

.sign-in-button:hover .sign-in-svg,
.sign-in-button:focus .sign-in-svg {
    fill: #32425c;
    outline: none;
}

.sign-in-button:active {
    color: #b2b2b2;
}

.sign-in-button:active .sign-in-svg {
    fill: #b2b2b2;
}

.button > .sign-in {
    padding-left: 5px;
}

div > .button:first-child {
    padding-left: 0;
}

.logout-button {
    display: flex;
    justify-content: space-between;
    width: 299px;
    padding: 0;
    margin: 0;
}

.logout-button:hover {
    color: black;
}

.user {
    fill: #c5c5c5;
    padding: 13px;
}

.user:hover {
    fill: #32425c;
}

.logout {
    fill: #c5c5c5;
    padding: 13px;
    padding-right: 10px;
}

.logout:hover {
    fill: #32425c;
}

.user-name {
    position: relative;
    left: -11px;
}

.header-middle-user {
    display: flex;
    flex-direction: column;
}

.orders {
    display: flex;
}

.header-orders {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #32425c;
    margin-top: 3px;
    text-decoration: underline;
    padding-left: 18px;
}

.header-orders-bull {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

/* header bottom nav menu */
.header-bottom {
    display: flex;
    padding-top: 13px;
    padding-bottom: 50px;   
}

.main-menu {
    display: flex;
    list-style: none;
    width: 890px;
    height: 55px;
    padding: 0;
    background: #32425c;
    box-shadow: 0px 5px #293449;
}

.main-menu li {
    flex-grow: 1;
}

.main-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 120px;
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: white;
    height: 55px;
}

.main-menu-item:hover,
.main-menu-item:focus {
    background: #293449;
    outline: none;
}

.main-menu-item:active {
    color: rgba(255, 255, 255, 0.50)

}

.main-menu:first-child {
    padding-left: 25px; 
}

.main-menu:last-child {
    padding-right: 25px; 
}

/* promo cards */
.category {
    width: 940px;
    margin: 0 auto;
}

.category-card-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 39px;
}

.category-card-container-small {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.category-card-header {
    font-family: 'Cuprum', sans-serif;
    color: white;
    font-size: 24px;
    padding-left: 23px;
    margin-bottom: 14px;
}

.category-card {
    width: 300px;
    height: 123px;
    background: #ffbf47;
    margin-right: 20px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-position: 210px 30px;
    background-image: url(../img/cards/materials.svg);
    position: relative;
}

.category-card-button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 135px;
    height: 38px;
    color: white;
    padding-left: 0;
    padding-right: 0;
    margin-left: 23px;
}

.category-card-button:hover,
.category-card-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    outline: none;
}

.category-card-button:active {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.category-card:nth-child(2) {
    background-color: #3bbce3;
    background-position: 200px 30px;
    background-image: url(../img/cards/tools.svg);
}

.category-card:nth-child(3) {
    margin-right: 0px;
    background-color: #dc91d8;
    background-position: 190px 30px;
    background-image: url(../img/cards/vehicle.svg);
}

.category-card-container-small .category-card {
    margin-right: 0px;
    background-color: #8ed78f;
    background-position: 200px 30px;
    background-image: url(../img/cards/discount.svg);
}

.category-card-container-small .category-card:last-child {
    margin-right: 0px;
    background-color: #ffc047;
    margin-top: 17px;
    background-position: 190px 30px;
    background-image: url(../img/cards/delivery.svg);
}

/* popular items */
.popular-items {
    width: 940px;
    margin: 0 auto;
}

.section-header {
    display: flex;
    justify-content: space-between;
    background-color: #f9f5f0;
    width: 886px;
    height: 89px;
    align-items: center;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 20px;
}

.section-header-first {
    margin-top: 56px;
}

.popular-items-button {
    border-radius: 2px;
    width: 248px;
    height: 38px;
    background-color: #ee3643;
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
}

.popular-items-button:hover,
.popular-items-button:focus {
    color: white;
    background-color: #ca2c37;
    outline: none;
}

.popular-items-button:active {
    background-color: #ba2732;
}

.popular-items-button-bookmarks {
    border: 3px solid #63a63e;
    color: #32425c;
    text-transform: uppercase;
    font-size: 14px;
    width: 129px;
    height: 32px;
    padding: 0;
}

.popular-items-button-bookmarks:hover,
.popular-items-button-bookmarks:focus {
    border: 3px solid #32425c;
    color: #32425c;
    outline: none;
}

.popular-items-button-bookmarks:active {
    outline: 3px solid #c1c6ce;
    outline-offset: -3px;
    color: #c1c6ce;
}

.popular-content {
    display: flex;
    margin-bottom: 0;
}

.popular-items-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 318px;
    margin-right: 20px;
    margin-top: 20px;
    outline: 1px solid #eaeaea;
    outline-offset: -1px;
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
}

.popular-items-card:nth-child(4) {
    margin-right: 0;
}

.popular-items-card-name {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-top: 18px;
    color: black;
}

.popular-items-old-price {
    text-align: center;
    color: #a9a9a9;
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
    margin-top: 12px;
    margin-bottom: 12px;
}

.popular-items-new-price {
    padding: 0;
    margin: 0;
    display: flex;
    width: 120px;
    height: 38px;
    position: relative;
    text-decoration: none;
    line-height: 36px;
    color: black;
    background-color: #ee3643;
    border-radius: 4px 0 0 4px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
}

.popular-items-new-price:hover,
.popular-items-new-price:focus {
    color: white;
    outline: none;
}

.popular-items-new-price:after {
    content: "";
    position: absolute;
    top: -1;
    right: -19px;
    z-index: 1;
    width: 36px;
    height: 36px;
    background-color: #ee3643;
    transform: rotate(-45deg) scale(0.73);
}

.popular-items-old-price-none {
    color: white;
    font-size: 17px;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* slider */
.slider-button {
    position: absolute;
    z-index: 30;
    margin: 0;
    padding: 0;
    width: 195px;
    height: 38px;
    left: 25px;
    bottom: 25px;
    padding: 0;
}

.slider-button:active {
    background-color: #ba2732;
}

.slider {
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
}

.slider input[type=radio] {
    display: none;
}

.slider-inner {
    width: 620px;
    overflow: hidden;
}

.slider-slides {
    width: 200%;
}

.slider-slides img {
    float: left;
    width: 620px;
    height: 266px;
}

.slider-controls {
    position: absolute;
    text-align: center;
    z-index: 10;
    left: 47%;
    top: 82%;
}

.slider-controls label {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    transition: background-color 0.2s;
    cursor: pointer;
}


#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background-color: #ee3643;
}

#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-620px);
}

.slider-controls-arrows {
    position: relative;
}

.slider-controls-arrows-left {
    position: absolute;
    z-index: 20;
    width: 22px;
    height: 40px;
    left: 25px;
    top: 113px;
    background-image: url(../img/icons/left.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.slider-controls-arrows-right {
    position: absolute;
    z-index: 20;
    width: 22px;
    height: 40px;
    right: 25px;
    top: 113px;
    background-image: url(../img/icons/right.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* popular-items hover effects */
.popular-items-card:hover,
.popular-items-card:focus {
    box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
    transition-property: box-shadow;
    transition-duration: 0.3s;
    outline: none;
}

.popular-items-card:hover ~ .popular-items-card-img {
    display: none;
}

.popular-items-button-buy {
    position: relative;
    padding: 0;
    width: 135px;
    height: 35px;
    background-color: #63a63e;
    border-radius: 4px;
    color: white;
    box-shadow: 0px 3px 0px #367315;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.popular-items-button-buy svg {
    opacity: 0.3;
    position: absolute;
    left: 11px;
}

.popular-items-button-buy:hover,
.popular-items-button-buy:focus {
    background-color: #5fbb2d;
    color: white;
    outline: none;
}

.popular-items-button-buy:active {
    background-color: #367315;
    color: white;
}

.popular-items-button-buy:hover svg,
.popular-items-button-buy:focus svg {
    opacity: 1;
    outline: none;
}

.popular-items-button-buy:active svg {
    opacity: 1;
}

.card-description-hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 220px;
    height: 96px;
    position: absolute;
    visibility: hidden;   
    background-color: white;
}

.popular-items-card:hover .card-description-hidden,
.popular-items-card:focus-within .card-description-hidden{
    visibility: visible;
}

.popular-items-card:hover .card-description-hidden,
.popular-items-card:focus .card-description-hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 220px;
    height: 96px;
    outline: none;
}

/* popular company */
.popular-company {
    display: flex;
    flex-wrap: wrap;
}

.link-popular-company {
    display: flex;
    width: 220px;
    height: 145px;
    outline: 1px solid #eaeaea;
    outline-offset: -1px;
    margin-right: 20px;
    margin-top: 20px;
}

.link-popular-company:hover,
.link-popular-company:focus {
    box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
    transition-property: box-shadow;
    transition-duration: 0.3s;
    outline: none;
}

.link-popular-company:active {
    box-shadow: 0px 4px 10px rgba(41, 52, 73, 0.5);
}

.link-popular-company > img:active {
    opacity: 0.3;
}

.popular-company > .link-popular-company:nth-child(4) {
    margin-right: 0;
}

.popular-company > .link-popular-company:nth-child(8) {
    margin-right: 0;
}

/* service */
.service {
    display: flex;
    margin-top: 82px;
    background-color: #f4f8f9;
    padding-top: 40px;
}

.container-service {
    display: flex;

}

/* service slaider */
.container-service-description-header {
    font-family: 'Cuprum', sans-serif;
    font-size: 36px;
    padding-left: 80px;
    color: #32425c;
    margin-top: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.container-service-description-body {
    padding-top: 0;
    padding-left: 80px;
    width: 270px;
    line-height: 24px;
}

.service .wrapper {
    position: relative;
}

.slider-service {
    display: flex;
    margin-top: 60px;
    margin-bottom: 20px;
}

.service-slider-slides {
    margin-top: -20px;
}

.slider-service::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 272px;
    background-image: url(../img/service-shadow.png);
    top: 158px;
    left: 230px;
}

.service-slider-inner {
    display: flex;
    min-height: 280px;
    width: 700px;
    overflow: hidden;
}

/* .slider-service input[type=radio] {
    display: none;
} */

.service-controls {
    margin-top: 10px;
}

.service-controls label {
    display: flex;
    width: 220px;
    height: 61px;
    background-color: #32425c;
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    padding-left: 20px;
    align-items: center;
}

.service-controls label:hover,
.service-controls label:focus {
    background-color: #293449;
    outline: none;
}

.container-service-description {
    display: flex;
    flex-direction: column;
    height: 0;
    width: 700px;
    visibility: hidden;
}

.service-slider-slides .container-service-description::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 261px;
    background-repeat: no-repeat;
}

.service-slider-slides .container-service-description:nth-child(1)::after {
    background-image: url(../img/lorry.png);
    background-position: 230px 53px;
}

.service-slider-slides .container-service-description:nth-child(2)::after {
    background-image: url(../img/medal.png);
    background-position: 280px 20px;
}

.service-slider-slides .container-service-description:nth-child(3)::after {
    background-image: url(../img/money.png);
    background-position: 230px 20px;
}

#service-1:checked ~ .service-controls label[for="service-1"],
#service-2:checked ~ .service-controls label[for="service-2"],
#service-3:checked ~ .service-controls label[for="service-3"] {
    background-color: white;
    color: #293449;
}

#service-1:focus ~ .service-controls label[for="service-1"],
#service-2:focus ~ .service-controls label[for="service-2"],
#service-3:focus ~ .service-controls label[for="service-3"] {
    border-left: solid 5px #ee3643;
    margin-left: -5px;
}

#service-1:checked ~ .service-slider-inner .service-slider-slides .container-service-description:nth-child(1) {
    visibility: visible; 
    height: auto;
    min-height: 280px;
}

#service-2:checked ~ .service-slider-inner .service-slider-slides .container-service-description:nth-child(2) {
    visibility: visible; 
    height: auto;
    min-height: 280px;
}

#service-3:checked ~ .service-slider-inner .service-slider-slides .container-service-description:nth-child(3) {
    visibility: visible; 
    height: auto;
    min-height: 280px;
}

.service-slider-button {
    padding: 0;
    margin-left: 78px;
    z-index: 1;
}

/* about */
.section-about {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 45px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
}

.about-map {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.about-list {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 20px;
    list-style: none;
    margin-top: 0;
    padding-left: 0; 
}

.about-list li {
    padding-top: 20px;
}

.about-list li:last-child {
    margin-bottom: 20px;
}

.popular-items-button-more {
    padding: 0;
    margin: 0;
    width: 220px;
}

.popular-items-button-map {
    padding: 0;
    margin: 0;
    width: 300px;
}

.map-img {
    margin-bottom: 30px;
}

.delivery-info {
    margin-top: -7px;
}

.about h2 {
    color: black;
    margin-bottom: 14px;
}

.about-map h2 {
    color: black;
    margin-bottom: 14px;
}

.about p:nth-child(3) {
    margin-bottom: 0;
}

/* footer */
footer {
    background-color: #32425c;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    justify-content: space-between;
    padding-bottom: 27px;
}

.logo-big {
    height: 68px;
    font-size: 30px;
}

.footer-address {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: white;
    font-weight: 400;
    margin-top: 13px;
}

.footer-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 23px;
    margin-bottom: 8px;
}

.footer-menu li {
    padding-left: 30px;
    padding-right: 30px;
}

.footer-menu li:last-child {
    padding-right: 0;
}

.footer-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: white;
    height: 55px;
}

.footer-menu-item:hover,
.footer-menu-item:focus {
    text-decoration: underline;
    outline: none;
}

.footer-menu-item:active {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.footer-menu-bottom {
    margin-top: 0;
}

.footer-menu-bottom-item {
    color: #ffd180;
}

.footer-menu-bottom-item:hover,
.footer-menu-bottom-item:focus {
    text-decoration: underline;
    outline: none;
}

/* sub footer */
.sub-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #293449;
}

.sub-footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}

.copyright {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: white;
    font-weight: 400;
}

.footer-feedback {
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: white;
}

.social-links {
    display: flex;
    list-style: none;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    font-size: 0;
    margin-left: 30px;
}

.social-links li {
    margin-right: -5px;
}

.social-button {
    display: flex;
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    border-radius: 50%;
}

.social-links > li:nth-child(1) > .social-button::before {
    content: "";
    width: 42px;
    height: 42px;
    background-image: url("../img/social/vk.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-links > li:nth-child(2) > .social-button::before {
    content: "";
    width: 42px;
    height: 42px;
    background-image: url("../img/social/fb.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-links > li:nth-child(3) > .social-button::before {
    content: "";
    width: 42px;
    height: 42px;
    background-image: url("../img/social/insta.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-button:hover,
.social-button:focus {
    background-color: #ee3643;
    outline: none;
}

/* catalog */
.breadcrumbs {
    display: flex;
    list-style: none;
    padding: 0;
    padding-top: 10px;
}

.breadcrumbs li a {
    text-transform: uppercase;
    color: black;
    padding-right: 15px;
}

.breadcrumbs > li:not(:first-child)::before {
    content: "";
    display: inline-block;
    background-image: url("../img/icons/right-arrow.svg");
    background-repeat: no-repeat;
    width: 8px;
    height: 12px;
    padding-right: 15px;
}

.content > .popular-items-card {
    margin-right: 20px;
}

.content > .popular-items-card:nth-child(3n) {
    margin-right: 0;
}

.section-header-catalog {
    background-color: #f2f6f8;
}

.catalog-content-container {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-wrap: wrap;    
}

/* filter-header */
.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f3ec;
    height: 38px;
    border-radius: 2px;
    margin-top: 20px;
}

.filter-header  h3{
    text-transform: uppercase;
    padding-left: 19px;
    font-size: 13px;
}

.filter-header-setings-button {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ee3643;
}

.filter-header-setings-button-active {
    color: #ee3643;
    text-decoration: none;
}

.filter-header-setings-button:hover {
    color: black;
    text-decoration: underline;
    text-decoration-color: #ee3643;
}

.sort-by {
    width: 11px;
    height: 10px;
    fill: #c5c5c5;
}

.sort-activ {
    fill: red;
    text-decoration: none;
}

.sort-by:hover {
    fill: black;
}

.filter-header-setings > a:nth-child(5) {
    margin-right: 17px;
}

.filter-header-setings > a:nth-child(4) {
    margin-right: 19px;
}

.filter-header-setings > a:nth-child(3) {
    margin-right: 41px;
}

.filter-header-setings > a:nth-child(2) {
    margin-right: 63px;
}

.filter-header-setings > a:nth-child(1) {
    margin-right: 67px;
}

/* form */
form {
    display: flex;
    flex-direction: column;
    width: 220px;
}
.left {
    padding-right: 20px;
}

.button-filter {
    padding: 0;
    margin: 0;
    margin-top: 65px;
    border: solid 1px #e5e5e5;
    text-transform: uppercase;
    font-size: 13px;
    width: 138px;
    height: 36px;
}

.filter {
    display: flex;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 21px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

fieldset:not(:nth-child(4)) {
    border-bottom: solid 1px #c6c6c6;
}

legend {
    font-size: 17px;
    font-weight: 700;
}

.supply > legend {
    font-size: 17px;
    font-weight: 700;
}

.range {
    display: flex;
    width: 220px;
    height: 80px;
    background-color: #f7f3ec;
    border-radius: 2px;
}

.numbers {
    display: flex;
    justify-content: space-between;
}

input[type=number] {
    display: flex;
    border: none;
    width: 95px;
    height: 38px;
    background-color: #f7f3ec;
    border-radius: 2px;
    margin-top: 9px;
    margin-bottom: 25px;
}

.manufacturers > p {
    vertical-align: middle;
}

.manufacturers input[type=checkbox] + label {
    background-image: url("../img/icons/checkbox.svg");
    background-repeat: no-repeat;
    padding-left: 25px;
} 

.manufacturers input[type=checkbox]:checked + label {
    background-image: url("../img/icons/checkbox-on.svg");
} 

.type::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 9px;
    height: 9px;
    background: white;
    border: solid 5px white;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 4px #c6c6c6;
    margin-right: 10px;
    top: 2px;
}

.drill-type input[type=radio]:checked ~ .type::before {
    background: #c6c6c6;
}

/* seo-perforators */
.seo-perforators {
    background-color: #f2f6f8;
    padding-top: 40px;
    padding-bottom: 40px;
}

.seo-perforators h2 {
    color: black;
}

/* pagination */

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 52px;
    margin-bottom: 60px;
}

.pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    font-family: 'Cuprum', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: black;
    background: white;
    margin-right: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.pagination-button-next {
    text-transform: uppercase;
    padding-left: 50px;
    padding-right: 50px;
}

.pagination-button:hover,
.pagination-button:focus {
    border: 1px solid #bdc6ca;
    outline: none;
}

.pagination-button:active {
    border: 1px solid #ee3643;
}

.pagination-button-selected,
.pagination-button-selected:hover {
    color: white;
    background: #ee3643;
    border: 1px solid #ee3643;
}

/* modal write us*/
.modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-write-us-form input[placeholder] {
    color: #a9a9a9;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    padding-left: 17px;
}

.modal-write-us-form input:focus {
    color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-top: -215px;
    margin-left: -310px;
    width: 620px;
    height: 430px;
    overflow: auto;
    background-color: white;
    box-shadow: 0px 20px 40px rgba(000, 000, 000, 0.7);
}

.modal-close {
    font-size: 0;
    border: none;
    position: absolute;
    right: 9px;
    top: 16px;
    width: 21px;
    height: 21px;
    background-image: url(../img/icons/close.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.modal-close:focus {
    outline: none;
}

.modal-write-us-top {
    display: block;
    width: 620px;
    height: 7px;
    background-color: #ff5257;
}

.modal-write-us-form {
    display: flex;
    flex-direction: column;
    height: 311px;
    padding-left: 80px;
    padding-right: 80px;
}

#name {
    width: 220px;
    height: 38px;
}

#e-mail {
    width: 220px;
    height: 38px;
}

#note {
    width: 460px;
    height: 114px;
    color: #a9a9a9;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    border: 1px solid #e5e5e5;
    padding-left: 17px;
    padding-top: 10px;
}

#note:focus {
    color: black;
}

.note-wrap {
    margin-top: 9px;
}

.modal-write-us-form label {
    font-size: 18px;

}

.modal-top-form {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.modal-top-form p {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
}

.modal-write-us-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 620px;
    height: 112px;
    background-color: #f4f4f4;
}

.button-write-us {
    width: 460px;
    height: 38px;
}

