/* global */
.modal {
    display: none;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black; 
    margin: 0;
}

.visually-hidden {
    font-size: 0;
}

.visually-hidden-button {
    position: absolute;
    background: transparent;
    border: none;
    font-size: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 18px;
    color: black;
    background: white;
    margin-left: 10px;
}

.button:hover {
    color: #ee3643;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #32425c;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.new::before {
    position: absolute;
    content: "";
    right: 0;
    width: 60px;
    height: 60px;
    background: none;
    background-image: url(../img/new.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

/* header */
.header-top-wrap {
    background: #293449;
}

header {
    background: #f4f7f9;
}

.header-top {
    display: flex;
    justify-content: center;
}

.header-navigation-container {
    width: 150px;
    height: 42px;
}

/* header-logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 220px;
    height: 42px;
    font-family: 'Cuprum', sans-serif;
    font-size: 24px;
    color: white;
    background-color: #ee3643;
    box-shadow: 0px 5px #b52933;
}

.logo:hover {
    background-color: #ca2c37;
    box-shadow: 0px 5px #9a212a;
}

.logo:active {
    background-color: #ba2732;
    box-shadow: 0px 5px #8e1e26;
}

/* header search */
.search {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

#search {
    width: 270px;
    height: 42px;
    background: #293449;
    border: none;
    font-size: 17px;
    float: left;
    color: white;
    padding-left: 42px;
    border-radius: 0;
}

#search::-webkit-input-placeholder {
    font-family: 'Cuprum', sans-serif;
    color: white;
}

#search:hover {
    background: #212a3a;
}

#search:focus::-webkit-input-placeholder {
    font-family: 'Cuprum', sans-serif;
    color: rgba(0, 0, 0, 0.3);
}

#search:focus {
    font-family: 'Cuprum', sans-serif;
    color: black;
    background: white;
}

/* header search button */
#submit {
    border: none;
    position: absolute;
    width: 42px;
    height: 42px;
    background: none;
    background-image: url(../img/icons/search.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.3;
}

#search:focus ~ #submit {
    opacity: 1;
    background-image: url(../img/icons/search-active.svg);
}

/* header bookmarks button */
.header-navigation-button {
    display: flex;
    width: 150px;
    height: 42px;
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    color: white;
    line-height: 42px;
    border-radius: 0;
    left: 40px;
}

.header-navigation-button:hover {
    background: #212a3a;
}

.header-icon {
    position: relative;
    padding-left: 10px;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.3;
}

.bookmarks {
    background-image: url(../img/icons/bookmarks.svg);
}

.cart {
    background-image: url(../img/icons/cart.svg);
}

/* buy button */
.buy {
    padding: 0;
    background: #63a63e;
    justify-content: center;
}

.buy:hover {
    background: #5fbb2d;
}

.buy:active {
    background: #518534;
    color: rgba(255, 255, 255, 0.5);
}

/* header middle */
.header-middle {
    display: flex;
    justify-content: space-between;
    width: 940px;
    padding-top: 46px;
    margin: 0 auto;
}

.header-description {
    width: 200px;
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    color: #ee3643;
    padding-left: 53px;
    margin-top: 2px;
}

.header-phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 45px;
    outline: 3px solid #fff;
    outline-offset: -3px;
    flex-wrap: wrap;
}

.header-phone {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    color: #ee3643;
    margin-left: -25px;
}

.phone {
    left: -50px;
    background-image: url(../img/icons/phone.svg);
    opacity: 1;
}

.header-address {
    display: flex;
    justify-content: center;
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    margin-top: 5px;
}

.header-middle-buttons {
    display: flex;
}

.sign-in {
    width: 45px;
    height: 45px;
    background-image: url(../img/icons/login.svg);
    opacity: 1;
}

.sign-in-button:hover ~ .sign-in {
    background-image: url(../img/icons/login-hover.svg);
    background: black;
}

.button > .sign-in {
    padding-left: 5px;
}

div > .button:first-child {
    padding-left: 0;
}

/* header bottom nav menu */
.header-bottom {
    display: flex;
    padding-top: 13px;
    padding-bottom: 50px;   
}

.main-menu {
    display: flex;
    list-style: none;
    width: 890px;
    height: 55px;
    padding: 0;
    background: #32425c;
    box-shadow: 0px 5px #293449;
}

.main-menu li {
    flex-grow: 1;
}

.main-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 120px;
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: white;
    height: 55px;
}

.main-menu-item:hover {
    background: #293449;
}

.main-menu-item:active {
    color: rgba(255, 255, 255, 0.50)

}

.main-menu:first-child {
    padding-left: 25px; 
}

.main-menu:last-child {
    padding-right: 25px; 
}

/* promo cards */
.category {
    width: 940px;
    margin: 0 auto;
}

.category-card-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
}

.category-card-container-small {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.category-card-header {
    font-family: 'Cuprum', sans-serif;
    color: white;
    font-size: 24px;
    padding-left: 23px;
    margin-bottom: 14px;
}

.category-card {
    width: 300px;
    height: 123px;
    background: #ffbf47;
    margin-right: 20px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-position: 210px 30px;
    background-image: url(../img/cards/materials.svg);
    position: relative;
}

.category-card-button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 135px;
    height: 38px;
    color: white;
    padding-left: 0;
    padding-right: 0;
    margin-left: 23px;
}

.category-card-button:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.category-card-button:active {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.category-card:nth-child(2) {
    background-color: #3bbce3;
    background-position: 200px 30px;
    background-image: url(../img/cards/tools.svg);
}

.category-card:nth-child(3) {
    margin-right: 0px;
    background-color: #dc91d8;
    background-position: 190px 30px;
    background-image: url(../img/cards/vehicle.svg);
}

.category-card-container-small .category-card {
    margin-right: 0px;
    background-color: #8ed78f;
    background-position: 200px 30px;
    background-image: url(../img/cards/discount.svg);
}

.category-card-container-small .category-card:last-child {
    margin-right: 0px;
    background-color: #ffc047;
    margin-top: 16px;
    background-position: 190px 30px;
    background-image: url(../img/cards/delivery.svg);
}

/* slider */
.slider-button {
    position: absolute;
    z-index: 30;
    margin: 0;
    padding: 0;
    width: 195px;
    left: 25px;
    bottom: 25px;
}

.slider {
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
}

.slider input[type=radio] {
    display: none;
}

.slider-inner {
    width: 620px;
    overflow: hidden;
}

.slider-slides {
    width: 200%;
}

.slider-slides img {
    float: left;
    width: 620px;
    height: 266px;
}

.slider-controls {
    position: absolute;
    margin-bottom: 10px;
    text-align: center;
    z-index: 10;
    left: 50%;
    top: 90%;
}

.slider-controls label {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    transition: background-color 0.2s;
    cursor: pointer;
}


#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background-color: #ee3643;
}

#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-620px);
}

.slider-controls-arrows {
    position: relative;
}

.slider-controls-arrows-left {
    position: absolute;
    z-index: 20;
    width: 22px;
    height: 40px;
    left: 25px;
    top: 113px;
    background-image: url(../img/icons/left.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.slider-controls-arrows-right {
    position: absolute;
    z-index: 20;
    width: 22px;
    height: 40px;
    right: 25px;
    top: 113px;
    background-image: url(../img/icons/right.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* popular items */
.popular-items {
    width: 940px;
    margin: 0 auto;
}

.section-header {
    display: flex;
    justify-content: space-between;
    background-color: #f9f5f0;
    width: 886px;
    height: 89px;
    align-items: center;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 53px;
}

.popular-items-button {
    border-radius: 2px;
    width: 238px;
    background-color: #ee3643;
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.popular-items-button:hover {
    color: white;
    background-color: #ca2c37;
}

.popular-items-button:activ {
    color: white;
    background-color: #ba2732;
}

.popular-content {
    display: flex;
    margin-bottom: 0;
}

.popular-items-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 318px;
    margin-right: 20px;
    margin-top: 20px;
    outline: 1px solid #eaeaea;
    outline-offset: -1px;
    position: relative;
}

.popular-items-card:nth-child(4) {
    margin-right: 0;
}

.popular-items-card-name {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: black;
}

.popular-items-old-price {
    text-align: center;
    color: #a9a9a9;
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
}

.popular-items-new-price {
    padding: 0;
    margin: 0;
    display: flex;
    width: 120px;
    height: 38px;
    position: relative;
    text-decoration: none;
    line-height: 36px;
    color: black;
    background-color: #ee3643;
    border-radius: 4px 0 0 4px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
}

.popular-items-new-price:hover {
    color: white;
}

.popular-items-new-price:after {
    content: "";
    position: absolute;
    top: -1;
    right: -19px;
    z-index: 1;
    width: 36px;
    height: 36px;
    background-color: #ee3643;
    transform: rotate(-45deg) scale(0.73);
}

/* popular-items hover effects */

.popular-items-card:hover {
    box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
    outline: none;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}
 
.popular-items-card {
    position: relative;
    width: 220px;
    height: 318px;
    background-color: #ffffff;
    overflow: hidden;
}

.popular-items-card .details {
    display: none;
    width: 220px;
    height: 318px;
    padding-top: 60px;
    color: #ffffff;
    background-color: rgba(75, 90, 120, 0.9);
}

.popular-items-card:hover .details {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 310px;
    height: 310px;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    outline: 0;
    transition: transform 0.6s ease-out;
    transform: scale(1);
}

.popular-items-card:hover ~ .popular-items-card-img {
    background: black;
}

/* popular company */
.popular-company {
    display: flex;
    flex-wrap: wrap;
}

.link-popular-company {
    display: flex;
    width: 220px;
    height: 145px;
    outline: 1px solid #eaeaea;
    outline-offset: -1px;
    margin-right: 20px;
    margin-top: 20px;
}

.link-popular-company:hover {
    box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.link-popular-company:active {
    box-shadow: 0px 4px 10px rgba(41, 52, 73, 0.5);
}

.link-popular-company > img:active {
    opacity: 0.3;
}

.popular-company > .link-popular-company:nth-child(4) {
    margin-right: 0;
}

.popular-company > .link-popular-company:nth-child(8) {
    margin-right: 0;
}

/* service */
.service {
    display: flex;
    margin-top: 60px;
    background-color: #f4f8f9;
    padding-top: 40px;
}

.container-service {
    display: flex;

}

/* service slaider */
.container-service-description-header {
    font-family: 'Cuprum', sans-serif;
    font-size: 36px;
    padding-left: 80px;
    color: #32425c;
    margin-top: 30px;
    margin-bottom: 10px;
}

.container-service-description-body {
    padding-left: 80px;
    width: 270px;
}

.service .wrapper {
    position: relative;
}

.slider-service {
    display: flex;
    margin-top: 60px;
    margin-bottom: 20px;
}

.service-slider-slides {
    margin-top: -20px;
}

.slider-service::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 272px;
    background-image: url(../img/service-shadow.png);
    top: 140px;
    left: 230px;
}

.service-slider-inner {
    display: flex;
    height: 280px;
    width: 700px;
    overflow: hidden;
}

.slider-service input[type=radio] {
    display: none;
}

.service-controls label {
    display: flex;
    width: 220px;
    height: 61px;
    background-color: #32425c;
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    padding-left: 20px;
    align-items: center;
}

.service-controls label:hover {
    background-color: #293449;
}

.container-service-description {
    display: flex;
    flex-direction: column;
    height: 280px;
    width: 700px;
}

.service-slider-slides .container-service-description:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 261px;
    background-image: url(../img/lorry.png);
    background-repeat: no-repeat;
    background-position: 220px 20px;
}

.service-slider-slides .container-service-description:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 261px;
    background-image: url(../img/medal.png);
    background-repeat: no-repeat;
    background-position: 280px 20px;
}

.service-slider-slides .container-service-description:nth-child(3)::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 261px;
    background-image: url(../img/money.png);
    background-repeat: no-repeat;
    background-position: 230px 20px;
}

#service-1:checked ~ .service-controls label[for="service-1"],
#service-2:checked ~ .service-controls label[for="service-2"],
#service-3:checked ~ .service-controls label[for="service-3"] {
    background-color: white;
    color: #32425c;
}

#service-1:checked ~ .service-slider-inner .service-slider-slides {
    transform: translateY(0);
}

#service-2:checked ~ .service-slider-inner .service-slider-slides {
    transform: translateY(-280px);
}

#service-3:checked ~ .service-slider-inner .service-slider-slides {
    transform: translateY(-560px);
}

.service-slider-button {
    padding: 0;
    margin-left: 78px;
}

/* about */
.section-about {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 86px;
    margin-top: 60px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
}

.about-map {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.about-list {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 20px;
    list-style: none;
    margin-top: 0;
    padding-left: 0; 
}

.about-list li {
    padding-top: 20px;
}

.about-list li:last-child {
    margin-bottom: 20px;
}

.popular-items-button-more {
    padding: 0;
    margin: 0;
    width: 220px;
}

.popular-items-button-map {
    padding: 0;
    margin: 0;
    width: 300px;
}

.map-img {
    margin-bottom: 30px;
}

.delivery-info {
    margin-top: -7px;
}

.about h2 {
    color: black;
}

.about-map h2 {
    color: black;
}

/* footer */
footer {
    background-color: #32425c;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    justify-content: space-between;
}

.logo-big {
    height: 68px;
}

.footer-address {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: white;
    font-weight: 400;
}

.footer-menu {
    display: flex;
    list-style: none;
    padding: 0;
}

.footer-menu li {
    padding-left: 30px;
    padding-right: 30px;
}

.footer-menu li:last-child {
    padding-right: 0;
}

.footer-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: white;
    height: 55px;
}

.footer-menu-item:hover {
    text-decoration: underline;
}

.footer-menu-item:active {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.footer-menu-bottom-item {
    color: #ffd180;
}

.footer-menu-bottom-item:hover {
    text-decoration: underline;
}

/* sub footer */
.sub-footer {
    background-color: #293449;
}

.sub-footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}

.copyright {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: white;
    font-weight: 400;
}

.social-links {
    list-style: none;
}

.footer-feedback {
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: white;
}

.social-links {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    font-size: 0;
}

.social-button {
    display: flex;
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    border-radius: 50%;
}

.social-links > li:nth-child(1) > .social-button::before {
    content: "";
    width: 42px;
    height: 42px;
    background-image: url("../img/social/vk.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-links > li:nth-child(2) > .social-button::before {
    content: "";
    width: 42px;
    height: 42px;
    background-image: url("../img/social/fb.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-links > li:nth-child(3) > .social-button::before {
    content: "";
    width: 42px;
    height: 42px;
    background-image: url("../img/social/insta.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-button:hover {
    background-color: #ee3643;
}

/* catalog */
.section-header-catalog {
    background-color: #f2f6f8;
}

.catalog-content-container {
    display: flex;
}

.left {
    width: 220px;
}

.content {
    display: flex;
    flex-wrap: wrap;    
}

/* seo-perforators */
.seo-perforators {
    background-color: #f2f6f8;
    padding-top: 40px;
    padding-bottom: 40px;
}

.seo-perforators h2 {
    color: black;
}

/* pagination */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    font-family: 'Cuprum', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: black;
    background: white;
    margin-right: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.pagination-button-next {
    text-transform: uppercase;
    padding-left: 50px;
    padding-right: 50px;
}

.pagination-button:hover {
    border: 1px solid #bdc6ca;
}

.pagination-button:active {
    border: 1px solid #ee3643;
}

.pagination-button-selected,
.pagination-button-selected:hover {
    color: white;
    background: #ee3643;
    border: 1px solid #ee3643;
}